<main>
    <div class="container">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <h1>Sign Up an New User</h1>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
              <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
              <mat-error *ngIf="email?.errors?.['email']">Please enter a valid email address</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
              <mat-error *ngIf="password?.errors?.['minLength']">Password should be at least 6 characters</mat-error>
              <mat-error *ngIf="password?.errors?.['passwordsDontMatch']">Passwords don't match</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
              <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm Password is required</mat-error>
            </mat-form-field>
            <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
                Passwords should match
            </mat-error>
            <button mat-raised-button color="primary">Sign In</button>
          </form>
    </div>
</main>