.toolbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.createLink {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aligned-right {
    align-self: flex-end;
    background-color: transparent;
    border: none;
}

form {
    width: 100%;
}

button,
mat-form-field {
    width: -webkit-fill-available;
}

mat-form-field {
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

button[mat-button] {
    width: auto;
}
